{% extends 'base.html' %}
{% block title %}News summary{% endblock %}

{% block content %}
    {% load static %}
    <div id="form-container">
        <form id="date-form">
            <label for="start_date">Start Date:</label>
            <input type="date" id="start_date" name="start_date" required>
            <label for="end_date">End Date:</label>
            <input type="date" id="end_date" name="end_date" required>
        </form>

        <form id="country-form">
            <p style="margin: 0;">Select a country:</p>
            <input type="radio" id="hr_radio_button" name="country" value="hr" checked>
            <label for="hr_radio_button">Hrvatska</label><br>
            <input type="radio" id="rs_radio_button" name="country" value="rs">
            <label for="rs_radio_button">Srbija</label><br>
            <input type="radio" id="ba_radio_button" name="country" value="ba">
            <label for="ba_radio_button">Bosna & Hercegovina</label><br><br>
        </form>

        <form id="summary-length-form">
            <p style="margin: 0;">Select a summary length:</p>
            <input type="radio" id="short_radio_button" name="summary-length" value="1" checked>
            <label for="short_radio_button">Short</label><br>
            <input type="radio" id="long_radio_button" name="summary-length" value="2">
            <label for="long_radio_button">Long</label><br>
        </form>

        <form id="categories-results">
            <p style="margin: 0;">Choose Categories::</p>
        </form>
        <div>
            <input type="text" id="key-word-input-field" placeholder="Search news by key word">
            <button id="search-button">Search</button>
        </div>

    </div>


    <!-- Placeholder for news results -->
    <div id="overview">
        <div class="loader" id="loading-screen"></div>
        <div id="overview-results">
            <p>Select a category to get news overview.</p>
        </div>
    </div>

    <script src="{% static 'summarizer/js/overview_script.js' %}"></script>
{% endblock %}